@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto+Slab:wght@300;500;700&display=swap');

body {
  margin: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgba(0.5, 0.5, 0.5, 0.5);
}
